:root {
  --theme-color: #222;
  --brand-color: #fff;
  --body-bg-color: #eee;
  --text-color: #555;
  --content-bg-color: #fff;
}

body {
  box-sizing: border-box;
  color: var(--text-color);
  font-family: Lato, 'PingFang SC', 'Microsoft YaHei', sans-serif;
  font-size: 1em;
  line-height: 2;
  min-height: 100%;
  position: relative;
  transition: padding 0.2s ease-in-out;
}

body {
  margin: 0;
  border: 0;
  background: var(--body-bg-color);
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #555;
}

div {
  /* border: 1px black solid; */
  /* box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.06), 0 1px 5px 0 rgba(0,0,0,0.12), 0 -1px 0.5px 0 rgba(0,0,0,0.09); */
}

.shadow {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.06), 0 1px 5px 0 rgba(0, 0, 0, 0.12)
}

.headband {
  background: var(--theme-color);
  height: 3px;
}

.main {
  align-items: stretch;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: calc(100% - 20px);
}

.main .container {
  border-radius: initial;
  box-sizing: border-box;
  width: calc(100% - 252px);
}

.main .sidebar {
  top: 0px;
  width: 238px;
  display: flex;
  flex-direction: column;
}

.main .sidebar .site-meta-container {
  flex-grow: 1;
  text-align: center;
  width: 100%;
  background: var(--theme-color);
}

.main .sidebar .site-meta {
  padding: 6% 0;
}

.main .sidebar .site-meta a {
  border-bottom: 0;
  cursor: pointer;
  outline: 0;
  text-decoration: none;
  overflow-wrap: break-word;

  font-family: Lato, 'PingFang SC', 'Microsoft YaHei', sans-serif;
  font-size: 1.375em;
  font-weight: normal;
  line-height: 1.5;
}

.main .sidebar .site-meta a .site-title {
  margin: 0;
  color: var(--brand-color);
}

.main .sidebar .site-meta .site-subtitle {
  color: #ddd;
  margin: 10px 10px 0;
}

.main .sidebar .site-nav {
  width: 100%;
  background: var(--content-bg-color);
}

.main .sidebar aside {
  margin-top: 8%;
}

.author {
  padding: 5% 3%;
  background: var(--content-bg-color);
}

.author .author-header {
  margin-top: 5%;
  text-align: center;
}

.author .author-header .site-author-image {
  border: 1px solid #eee;
  max-width: 120px;
  padding: 2px;
  border-radius: 50%;
}

.author .author-header .author-name {
  color: var(--text-color);
  font-weight: 600;
  margin: 0;
}

.author .author-header .author-des {
  color: #999;
  font-size: 0.8125em;
  margin-top: 0;
}

.author .author-middle {
  margin-top: 8%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  line-height: 1.4;
}

.author .author-middle nav {
  display: flex;
}

.author .author-middle nav .author-middle-item {
  padding: 0 5%;
}

.author .author-bottom {
  margin-top: 5%;
  display: flex;
}

.author .author-bottom .author-bottom-item {
  margin-right: 2%;
  margin-left: 2%;
  width: 33%;
}

@media (max-width: 991px) {
  .sidebar {
    width: auto;
  }
}

@media (max-width: 767px) {
  .main {
    width: auto;
  }
}

@media (min-width: 1200px) {
  .main {
    width: 1160px;
  }
}

@media (min-width: 1600px) {
  .main {
    width: 73%;
  }
}

@media (max-width: 991px) {
  .main {
    display: block;
    width: auto;
  }
}

@media (max-width: 991px) {
  .sidebar {
    display: none;
  }
}